{% extends 'base.html'%}
{% block tittle %}
{% endblock %}
{% block content %}
<form action="POST">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" value="{{producto.nombre}}">
    </div>
    <div>
        <label for="modelo">Modelo</label>
        <select name="modelo">
            <option value="{{producto.id_modelo}}" selected>{{producto.id_modelo}}</option>
            {% for modelo in modelos %}
            <option value="{{modelo.id}}">{{modelo.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="marca">Marca</label>
        <select name="marca">
            <option value="{{producto.id_marca}}" selected>{{producto.id_marca}}</option>
            {% for marca in marcas %}
            <option value="{{marca.id}}">{{marca.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="costo">Costo</label>
        <input type="number" name="costo">
    </div>
    <div>
        <label for="cantidad_disponible">Cantidad disponible</label>
        <input type="number" name="cantidad_disponible">
    </div>
    <div>
        <label for="accesorio">Accesorios</label>
        <select name="accesorios">
            <option value="{{producto.id_accesorio}}" selected>{{producto.id_accesorio}}</option>
            {% for accesorio in accesorios %}
            <option value="{{accesorio.id}}">{{accesorio.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="categoria">Categoria</label>
        <select name="categoria">
            <option value="{{producto.id_categoria}}" selected>{{producto.id_categoria}}</option>
            {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.nombre}}</option>
            {% endfor %}
        </select>
    </div>
</form>
<button type="submit">Cargar producto</button>
<a href="/productos">Cancelar</a>
{%endblock%}