{% extends 'base.html'%}
{% block tittle %}<h4>Productos</h4>{% endblock %}
{% block content %}
<div>
    <input type="text" name="" id="" placeholder="Buscar...">
    <table>
        <thead>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Costo</th>
            <th>Cantidad disponible</th>
            <th>Accesorios</th>
            <th>Categoria</th>
            <th>Fecha registro</th>
        </thead>
        <tbody>
            {% for producto in productos %}
            <td>{{producto.nombre}}</td>
            <td>{{producto.modelo}}</td>
            <td>{{producto.marca}}</td>
            <td>{{producto.costo}}</td>
            <td>{{producto.cantidad_disponible}}</td>
            <td>{{producto.categoria}}</td>
            <td><a href="{{ url_for('edit_producto', id=producto.id) }}">Editar</a></td>
            <td><a href="{{ url_for('delete_producto', id=producto.id) }}">Eliminar</a></td>
            {% endfor %}
        </tbody>
    </table>
    <a href="/productos/create">Agregar Producto</a>
</div>
{%endblock%}